.navbar{
    height: 3rem;
    background: #287288;

    // rgb(20 27 30);
    width: 100%;
    margin-right: 200px;
}
.navbar ul li a{
    text-decoration: none;
    list-style: none;
}
.info-card{
    background: #287288;
    box-shadow: 5px 5px 5px #000;
    color: #fff;
    padding: 30px;
}
.info-card-text{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 30px;
}

.custom-card{
    overflow-y:auto; 
    height: 500px;
    box-sizing:border-box;
    box-shadow: 5px 5px 5px gray;
}