<!-- <nav class="nav">
    <label routerLink="" for="logo" class="nav__logo">Convocation</label>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" class="checkbtn nav--bars text-dark"><i class="fas fa-bars" id="navcheck">Menu</i></label>


    <ul class="nav__menu">
        <li>
            <a   routerLink="/home"><i class="fa-solid fa-house"></i>
                Home
            </a>
            
        </li>
        <li>
            <a   routerLink="/contact"><i class="fa-solid fa-address-card"></i>
                contact
            </a>
        </li>
        <li>
            <a   routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i>
                login
            </a>
        </li>
        <li>
            <a   routerLink="/signup"><i class="fa-solid fa-user-plus"></i>
                signup
            </a>
        </li>
    </ul>

</nav>
 -->

 <!-- <div class="nav">
    <img src="../../../assets/attachment_96946058.jfif" alt="" class="image">
    <h1 style="color: white; font-size: 20px;margin-left: 30px;">KashmirServices</h1>
    <ul>
        <li><a class="action" routerLink="home"><i class="fa-solid me-2 fa-house" style="color: #f0f0f0;"></i>Home</a></li>
        <li><a routerLink="signup"><i class="fa-solid me-2 fa-right-to-bracket" style="color: #dee5f2;"></i>Signup</a></li>
        <li><a routerLink="login"><i class="fa-solid me-2 fa-user-plus" style="color: #cdd5e5;"></i>Login</a></li>
        
    </ul>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
          <img src="../../../../assets/images/iustLogo.jpg" alt="..." height="56" width="50" style="border-radius: 8px;">
        </a>
      <h3 class="logo">IUSTConvocation</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/convolistc">Convocations</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
          
  
        </ul>
        
      </div>
    </div>
