<nav class="nav">
    <label routerLink="" for="logo" class="nav__logo">Logo</label>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" id="checkbtn" class="nav--bars"><i class="fas fa-bars">Menu</i></label>


    <ul class="nav__menu">

        <li>
            <a routerLink="services" class="nav-item">Employees</a>
        </li>
        <!-- <li>
            <a routerLink="/signup" class="nav-item">Details</a>
        </li>
        <li>
            <a routerLink="/signup" class="nav-item" id="button"></a>
        </li> -->
    </ul>

</nav>
