
<!-- <div class="container-fluid" #container>
  <div class="col-md-3">
    <nav class="sidebar" >
      <p class="sidebtn" >
      </p>
      <div class="text">
       Profile
      </div>
      <div>
        <a
        class="dropdown-item"
        (click)="sharedService.logOut()"
        style="cursor: pointer"
        >Logout</a>
      </div>
      <ul class="main_side">
        <li class="active"><a>Admin</a></li>
    
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/studentlist">Students
          </a>

        </li>
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="seatallocation">Seats
          </a>

        </li>
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"  routerLink="employees">Employees
          </a>

        </li>
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="convocationdetails">Convocation
          </a>

        </li>
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/getdepartments">Department
          </a>
        </li>

        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/memberList"> Members
          </a>

        </li>

        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/guestList"> Guests
          </a>

        </li>

        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/gownList"> Gowns
          </a>
        </li>
        <li class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" routerLink="/admin/venue">Venue
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
    <div class="content" >
        <div class="btn"  (click)="toggleOn()" #btnon>
    <label for="toggle"><i class="fas fa-bars">Menu</i></label>
  </div>
  <div class="btn collapse"  (click)="toggleOff()" #btnoff>
    <label for="toggle"><i class="fas fa-bars">Menu</i></label>
  </div>
      <div class="header">
        <router-outlet></router-outlet>
      </div>
      </div>
  </div>


  </div> -->
  <div class="d-flex">
    <div class="sidebar p-5">
        <app-nav></app-nav>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>

