<div class="container-fluid">
    <h1 class="text-center" >Edit Venue</h1>
    <form [formGroup]="myForm" (ngSubmit)="updateVenue(myForm.value)">
        <!-- <div class="form-group mt-4">
            <label for="id">Id</label>
            <input type="text" class="form-control" formControlName="id">
        </div> -->
        <div class="form-group mt-4">
            <label for="name">Venue</label>
            <input type="text" class="form-control" formControlName="name" name="name" [(ngModel)]="venue.name">
        </div>
        <div class="form-group mt-4">
            <label for="totalSeats">Venue</label>
            <input type="number" class="form-control" formControlName="totalSeats" name="totalSeats" [(ngModel)]="venue.totalSeats">
        </div>
        <div class="d-grid mt-4">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
