
    <div class="row" >
      <div class="col-8 offset-2 me-5 mt-5 " >
          <div class="card mb-5" style="box-shadow: 5px 5px 5px gray ; ">
            <!--  -->
<div class="row d-flex justify-content-center mt-5">
  <img src="{{student.filePath== '' ? '/assets/images/download.jpg': baseUrl+student.filePath}}" 
  style=" height: 200px; width: 220px; border-radius: 130px; " class="img-fluid" alt="">
</div>
        <div class="card-body ">
          <h5 class="item-card-title mt-3 mb-4 mx-2"><strong>Name</strong>: {{student.name}}</h5>

          <h5 class="item-card-title mt-3 mb-4 mx-2"><strong>Parentage</strong>: {{student.parentage}}</h5>

          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Email</strong>: {{student.email}}</h5>

          <h5 class="item-card-title mt-3 mb-4 mx-2"><strong>Contact No</strong>: {{student.contactNo}}</h5>
          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Gender</strong>: {{student.gender|gender}}</h5>
          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Department</strong>: {{student.departmentName}}</h5>
          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Course</strong>: {{student.course|course}}</h5>

          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Batch</strong>: {{student.batch}}</h5>
          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Percentage</strong>: {{student.percentage}}</h5>


          <h5 class="item-card-title mt-3 mb-3 mx-2"><strong>Position </strong>: {{student.position|position}}</h5>



         
        </div>
      </div></div>
    
    </div>