<div class="card card-outline-secondary mb-5 mt-3">
    <div class="card-header">
        <h3 class="mb-0 text-center">Reset Your Password</h3>
    </div>
    <div class="card-body">
        <form class="form" role="form" autocomplete="off" #myForm="ngForm">
            <div class="form-group">
                <label for="inputPasswordNew"> Enter Reset Code</label>
                <input type="password" 
                [(ngModel)]="resetPasswordModel.resetCode"
                #resetCode="ngModel"
                name="=resetCode"
                class="form-control" id="inputPasswordNew" required
                [class.is-invalid]="resetCode.touched && resetCode.invalid"
                >
                <div *ngIf="resetCode.touched && resetCode.invalid" class="text-danger">
                 <div *ngIf="resetCode.errors && resetCode.errors['required']">
                  Enter code Sent to Your Registered Email Id
                 </div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="inputPasswordNew">New Password</label>
                <input type="password" 
                [(ngModel)]="resetPasswordModel.newPassword"
                #newpassword="ngModel"
                name="=newpassword"
                class="form-control" required
                [class.is-invalid]="newpassword.touched && newpassword.invalid"
                >
                <div *ngIf="newpassword.touched && newpassword.invalid" class="text-danger">
                 <div *ngIf="newpassword.errors && newpassword.errors['required']">
                  Enter New Password
                 </div>
                </div>
                
            </div>
            <div class="form-group">
                <label for="inputPasswordNewVerify">Confirm Password</label>
                <input type="password"
                [(ngModel)]="resetPasswordModel.confrimPassword"
                #confirmpassword="ngModel"
                name="=confrimpassword"
                 class="form-control" id="inputPasswordNewVerify" required
                 [class.is-invalid]="confirmpassword.touched && confirmpassword.invalid"
                 >
                 <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="text-danger">
                    <div *ngIf="confirmpassword.errors && confirmpassword.errors['required']">
                     Confirm  Password
                    </div>
                   </div>
               
            </div>
            <div class="form-group">
                <button  class="btn btn-success btn-lg float-right mt-2 " [disabled]="myForm.invalid" (click)="resetPassword()">Reset Password
                    <app-spinner *ngIf="loadSpinner"></app-spinner>
                </button>
            </div>
        </form>
    </div>
</div>