


    <div class="row">
        <div class="col-6 me-5 mt-5 " >
            <div class="card" >
          <img src="{{baseUrl+ gown.filePath}}"  style="height: 200px; width: 250px; margin-left: 70px;" alt="No preview">
      
          <div class="card-body ">
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Convocation</strong>: {{gown.convocationName}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Description</strong>: {{gown.description}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Convocation Date</strong>: {{gown.convocationDate  }}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Color</strong>: {{gown.color}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Size</strong>: {{gown.size}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Amount</strong>: {{gown.amount}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Transection Id</strong>: {{gown.transactionId}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Transection Date</strong>: {{gown.paymentDate}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Recipt Number</strong>: {{gown.receipt}}</p>
            <p class="item-card-title mt-3 mb-3 mx-2"><strong>Status</strong>: {{gown.gownStatus}}</p>
           
          </div>
        </div></div>
      
      </div>