<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100">

        <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Forgot Password?</h5>
                        <p class="mb-2">Enter your registered email ID to reset the password
                        </p>
                    </div>
                    <form #myForm="ngForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email"
                            [(ngModel)]="forgotPasswordModel.email"
                            #email="ngModel"
                            name="email"
                                
                             id="email" class="form-control" name="email"
                                placeholder="Enter Your Email" required
                                [class.is-invalid]="email.touched && email.invalid"
                                >
                                <div *ngIf="email.touched && email.invalid" class="text-danger">
                                    <div *ngIf="email.errors && email.errors['required']">
                                    Email is Required
                                    </div>
                                   </div>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" (click)="sendMail()">
                                Reset Pasword <app-spinner *ngIf="loadSpinner"></app-spinner>
                            </button>
                        </div>
                        <span>Don't have an account? <a routerLink="/signup">sign up</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>